:root {
  --font-familylogo: "Rubik Doodle Shadow", "sans-serif";
  --font-family2: "Lobster", sans-serif;
  --font-family3: "Press Start 2P", sans-serif;
  --font-family4: "Dhurjati", sans-serif;
  --font-family5: "Lobster", sans-serif;

  --gris: #333533;
  --grisclair: #2a2a29;
  --beige: #fefae0;
  --rouge: #d10000;
  --rose: #ff014f;
  --backgoundaside2: #919098;
  --text: #ffffff;
  --hint: #999;
  --border: #ffffff;
}
